
.cuerpo{
    background-color:teal;  
}

.contenedor .palabras{
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    color:yellow;
}
.contenedor .alfabeto{    
    text-align: center;    
}

.contenedor .palabras .letra{
    display: inline;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
}



.botones{
    margin: .5%;
    height: 40px;
    width: 40px;
}

#animation_container {
	position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    min-width: 200px !important;
    max-width: 700px !important;
    
    min-height: 200px !important;
    max-height: 700px !important;
	
}

canvas{
    width: 100% !important;
    height: 100% !important;
}

.materias{
    width: 300px;
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

