
body{
    background: url("fondo.jpg") center center fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.tipoJuego{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    display: block;
    text-align: center  ;
}

.marcador{
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #ffffff;
    width: 40%;
    height: 40px;
    padding-top: 10px;
    font-weight: 800;
    font-size: 20px;
}


.puntaje{
    float: left;
    margin: 0px auto;
    width: 100px;
    height: 30px;
}

.score{
    width: 100px;
    height: 30px;
}

.cronometro{
    float: right;
    margin: 0px auto;
}

.boton{
    background-color:#333;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    font-family:sans-serif;
}

.boton:hover{
    background-color: #ffffff !important;
    color: #0066ff;
}

#respuestas{
    margin: 20px auto;
    width:300px;
    height:300px;
    display:grid;
    grid-template-columns: 150px 150px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#btnCorrer{
    background-color:#ff0000;
    padding:10px;
    border-radius:10px;
    color:#fff;
    font-size:20px;
    font-family:sans-serif;
}

.preguntas{
    position: static;
    margin-top: 10px;
}

#txtPregunta{
    background-color: #3333ff;
    padding:15px;
    border-radius:10px;
    color:#fff;
    display:flex;
    justify-content:center;
    font-size:15px;
    font-family:sans-serif;
}


.Imagen{
    top: 200px;
    position: fixed;
    left: 15%;
    width: 20%;
    
}

#GIF{
    width: 70%;
    height: 70%;
}

@media screen and (max-width:900px) and (max-height:900px){
    .Imagen{
        display: none;
    }    

    #btnCorrer{
        align-items: center;
    
        background-color:#ff0000;
        padding:5px;
        border-radius:10px;
        color:#fff;
        font-size:15px;
        font-family:sans-serif;
        margin-bottom: 10px;
        margin-left: 30px;
    }

    .tipoJuego{
        margin: 0px auto;
        width: 350px;
        height: 50px;
        text-align: center;
        padding-top: 5px;
        margin-bottom: 20px;
    }

    .marcador{
        float: inline-start;
        text-align: end;
        color: #fff;        
        height: 40px;
        width: 100%;
        font-weight: 600;
        font-size: 20px;
    }
        
    .puntaje{
        margin: 0px auto;
        float: left;
        width: 100px;
        height: 30px;
        
    }

    .cronometro{
        float: right;
        margin: 0px auto;
        position: relative;
        width: 100px;
        
    }

}

